<form change:form="">
	<fieldset>
		<legend class="h-2">${poll/getLabelAsHtml}</legend>
		<ul class="mini-navigation" tal:condition="poll/canShowResults">
			<li tal:define="pollsParam php: array('viewResults' => true)">
				<a change:currentPageLink="pollsParam pollsParam">${trans:m.polls.fo.view-results,ucf}</a>
			</li>
		</ul>
		<dl class="inline-list normal-margin">
			<dt>${trans:m.polls.fo.voters,ucf}</dt>
			<dd>${poll/getVoterCount}<span class="separator"> - </span></dd>
			<dt>${trans:m.polls.fo.enddate,ucf}</dt>
			<dd tal:condition="poll/getEndDate">${datetime:poll/getUIEndDate}</dd>
			<dd tal:condition="not:poll/getEndDate">${trans:m.polls.fo.never}</dd>
		</dl>
		<div class="description" tal:condition="poll/getDescription">${poll/getDescriptionAsHtml}</div>
		<ol>
			<li tal:repeat="question poll/getChildrenQuestions" class="${alternateclass:questionIndex}">
				<fieldset tal:define="allowMultipleAnswers question/allowMultipleAnswers">
					<legend class="h-3">${question/getLabelAsHtml}</legend>
					<div class="description" tal:condition="question/getDescription">${question/getDescriptionAsHtml}</div>
					<p class="normal" tal:condition="php: question.getMaxAnswers() GT 1">${trans:m.polls.fo.up-to-n-answers,ucf,max=question/getMaxAnswers}</p>
					<p class="normal" tal:condition="php: question.getMaxAnswers() EQ -1">${trans:m.polls.fo.unlimited-answers,ucf}</p>
					<ul change:errors="" relKey="question${question/getId}"></ul>
					<ol>
						<li tal:repeat="answer question/getChildrenAnswers" class="${alternateclass:answerIndex}">
							<input tal:condition="not: allowMultipleAnswers" change:radioinput="" name="question${question/getId}" value="${answer/getId}" label="${answer/getLabelAsHtml}" withcolon="false" />
							<input tal:condition="allowMultipleAnswers" change:checkboxinput="" name="question${question/getId}[]" value="${answer/getId}" label="${answer/getLabelAsHtml}" withcolon="false" />
							<div class="description" tal:condition="answer/getDescription">${answer/getDescriptionAsHtml}</div>
						</li>
					</ol>
				</fieldset>
			</li>
		</ol>
		<p class="buttons">
			<input type="hidden" name="pollParam[currentPoll]" tal:attributes="value item/getId" />
			<input name="vote" change:submit="" value="${trans:m.polls.fo.submit,ucf}" />
		</p>
	</fieldset>
</form>